
html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.center,
#loading {
    text-align: center;
}

#loading .spinner {
    position: relative;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

.dnone {
    display: none;
}

table tr th,
table tr td {
    text-align: center;
    vertical-align: middle;
}

table tr th:first-child,
table tr td:first-child {
    text-align: left;
}

table tr th:last-child,
table tr td:last-child {
    text-align: right;
}

#presets-body td:last-child a,
#mods-title a {
    cursor: pointer;
    font-size: 0.7rem;
}

#presets-body td button {
    margin: 0 0 0 10px;
    padding: 4px 8px;
    font-size: 0.6rem;
    font-weight: bold;
}

.show_btn, 
tbody tr:nth-child(2n) .show_btn {
    background-color: orangered;
}

.select_btn,
tbody tr:nth-child(2n) .select_btn {
    background-color: olivedrab;
}

#mods-title {
    font-weight: bold;
    text-align: left;
}

#dialog-header button {
    padding: 7px;
    margin: 0;
}

#dialog-header button:focus,
#dialog-content input[type=checkbox]:focus {
    border: 0;
    box-shadow: none;
}

#dialog-header {
    padding: 10px 20px;
}

#dialog-content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px 20px;
    margin: -10px -30px -10px;
}

#dialog-content ol {
    margin: 0 5px;
}

#dialog-content ol li input[type=checkbox] + a {
    opacity: .6;
    font-style: italic;
}

#dialog-content ol li input[type=checkbox]:checked + a {
    opacity: 1;
    font-style: normal;
}

dialog + .backdrop {
    background: rgba(0,0,0,.61);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

summary:focus, summary:hover {
    text-decoration: none;
}

summary:focus span, summary:hover span {
    text-decoration: underline;
}

footer sup {
    font-size: 0.6rem;
}

@media (prefers-color-scheme: dark) {
    footer a.github {
        fill: #c6cbd1;
    }
}
